.q{
    color: black;
    text-shadow: 0px 0px 5px black;
}
.a{
    color: black;
    text-shadow: 0px 0px 5px black;
}
.b{
    color: white;
    text-shadow: 0px 0px 5px black;
}
.h3{
    color: white;
    text-shadow: 0px 0px 5px black;
}
.p2{
    color: white;
    text-shadow: 0px 0px 10px gray;
}